# OS files
.DS_Store
Thumbs.db

# Node (if you ever add tools later)
node_modules/
npm-debug.log
yarn-error.log

# Build output
dist/
build/

# IDE/editor folders
.vscode/
.idea/

# Misc
*.log
*.txt
*.env

