::-moz-selection {
  background-color: var(--clr-accent);
  color: var(--clr-bg);
}
img{
  width: 15rem;
  transform: translate(-6px, 10px);
  opacity: 0;
  /* X = 50px, Y = 100px */
}
a{
  -webkit-tap-highlight-color: transparent;
  color: var(--clr-text);
  /*font-weight: 500; */
  font-size: 17px;
  text-decoration: none;
}
h1{
  font-weight: 800;
  color: var(--clr-text);
  animation-delay: .5s;
  opacity: 0;
  line-height: 1.8;
}
.card{
  text-align: center;
  width: 90%;
  max-width: 300px;
}
.bio,
.status{
  color: var(--clr-text-100);
}
p.status{
  margin-bottom: 1rem;
  font-size: 1.1rem;
  font-weight: 500;
  opacity: 0;
  animation-delay: .5s;
}
.bio{
  display: inline-block;
  font-size: 13px;
  font-style: italic;
  margin-bottom: 1.8rem;
  overflow: hidden;
  white-space: nowrap; /* So text stays in one line */
  width: 0;
  border-right: 1px solid var(--clr-accent-900);
  border-right-width: 0;
  animation-delay: 2s;
}
.box{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 100%;
  padding: .6rem;
  border: 1px solid black;
  box-shadow: 2px 2px 0 var(--clr-text);
  margin-bottom: 18px;
  background-color: var(--clr-bg);
  transition: all 0.4s ease;
  opacity: 0;
  animation-delay: .8s;
}
.box:hover{
  background-color: var(--clr-accent);
  transform: scale(1.1);
  box-shadow: 3px 3px 0 var(--clr-text);
}
.links a:last-child{
  margin-bottom: 4rem;
}
a.attribute{
  margin: 2rem 0;
  border: 1px solid var(--clr-text);
  box-shadow: 3px 3px 0 var(--clr-shadow);
  display: inline-block;
  padding: .4rem 1rem;
  text-decoration: underline;
  font-style: italic;
  cursor: pointer;
  transition: all 0.3s ease;
}
a.attribute:active{
  transform: scale(0.7);
  box-shadow: 1px 1px 0 var(--clr-shadow);
}
.highlight{
  color: var(--clr-accent-900);
  font-weight: 700;
}







