*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  /* Variables: Color - Light Theme */
  --clr-bg: hsla(0, 0%, 100%, 1);
  --clr-text: hsla(0, 0%, 0%, 1);
  --clr-text-100: hsla(0, 0%, 0%, 0.8);
  --clr-accent: hsla(36, 100%, 70%, 1);
  --clr-accent-900: hsla(36, 100%, 50%, 1);
  --clr-shadow: hsla(0, 0%, 0%, 0.5);
  
  /* Coral is another good color theme here*/
}
html{
  font-size: 15px; /* for proper resizing*/
}
::selection {
  background-color: var(--clr-accent);
  color: var(--clr-bg);
}
body {
  /* Grain Backdrop */
  background-image: url('../images/background-grain.jpg');
  background-size: cover;
  background-repeat: repeat;
  font-family: 'Poppins', sans-serif;
  color: var(--clr-text);
  min-height: 100vh;
/*  color: hsla(36, 100%, 83%, 1); */
}
body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: url('../images/background-grain.jpg') repeat;
  background-size: 300px;
  opacity: 0.4;
  z-index: -1;
}
body.dark{
  /* Variables: Color - Light Theme */
  --clr-bg: hsla(0, 0%, 10%, 1);
  --clr-text: hsla(0, 0%, 98%, 1);
    --clr-text-100: hsla(0, 0%, 98%, 0.8);
  --clr-accent: hsla(36, 100%, 70%, 1);
  --clr-shadow: hsla(0, 0%, 100%, 0.1);
}
.flex{
  display: flex;
  align-items: center;
  justify-content: center;
}



/*====== Animation Utility  Classes======*/

.fade-in {
  animation: fadeIn 2s ease forwards;
  opacity: 0;
  animation-delay: 0.3s;
}
.typing{
  animation: typing 3s steps(42,end) forwards,
             blinker .8s step-end 4;
  animation-delay: 4.5s;
}



/* =========== Keyaframes ======= */

@keyframes fadeIn{
  from{
    opacity: 0;
    transform: translateY(15px);
  }
  to{
    opacity: 1;
    transform: translateY(0);
  }
}

/* Typing Animation */
@keyframes typing{
  0%{width: 0%;}
  100%{width: 100%; border-right-color: transparent;}
}
/* Cursor Blinking */
@keyframes blinker{
  6%{border-right-width: 2px;}
  20%{border-color: transparent;} 
  40%{border-color: transparent;}
  60%{border-color: transparent;}
  80%{border-color: transparent;}
}

