*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 15px; /* for proper resizing*/
}
:root{
  /* Variables: Color - Light Theme */
  --clr-bg: hsla(0, 0%, 100%, 1);
  --clr-text: hsla(0, 0%, 0%, 1);
  --clr-text-100: hsla(0, 0%, 0%, 0.8);
  --clr-accent: hsla(36, 100%, 70%, 1);
  --clr-accent-900: hsla(36, 100%, 50%, 1);
  --clr-shadow: hsla(0, 0%, 0%, 0.5);
  
  /* Coral is another good color theme here*/
}
body {
  /* Grain Backdrop */
  background-image: url('../images/background-grain.jpg');
  background-size: cover;
  background-repeat: repeat;
  font-family: 'Poppins', sans-serif;
  color: var(--clr-text);
  min-height: 100vh;
/*  color: hsla(36, 100%, 83%, 1); */
}
body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: url('../images/background-grain.jpg') repeat;
  background-size: 300px;
  opacity: 0.4;
  z-index: -1;
}
body.dark{
  /* Variables: Color - Light Theme */
  --clr-bg: hsla(0, 0%, 10%, 1);
  --clr-text: hsla(0, 0%, 98%, 1);
    --clr-text-100: hsla(0, 0%, 98%, 0.8);
  --clr-accent: hsla(36, 100%, 70%, 1);
  --clr-shadow: hsla(0, 0%, 100%, 0.1);
}
.flex{
  display: flex;
  align-items: center;
  justify-content: center;
}
img{
  width: 15rem;
  transform: translate(-6px, 10px);
  opacity: 0;
  /* X = 50px, Y = 100px */
}
a{
  -webkit-tap-highlight-color: transparent;
  color: var(--clr-text);
  /*font-weight: 500; */
  font-size: 17px;
  text-decoration: none;
}
h1{
  font-weight: 800;
  color: var(--clr-text);
  animation-delay: .5s;
  opacity: 0;
  line-height: 1.8;
}
.card{
  text-align: center;
  width: 90%;
  max-width: 300px;
}
.bio,
.status{
  color: var(--clr-text-100);
}
p.status{
  margin-bottom: 1rem;
  font-size: 1.1rem;
  font-weight: 500;
  opacity: 0;
  animation-delay: .5s;
}
.bio{
  display: inline-block;
  font-size: 13px;
  font-style: italic;
  margin-bottom: 1.8rem;
  overflow: hidden;
  white-space: nowrap; /* So text stays in one line */
  width: 0;
  border-right: 1px solid var(--clr-accent-900);
  animation-delay: 4s;
}

.box{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 100%;
  padding: .6rem;
  border: 1px solid black;
  box-shadow: 2px 2px 0 var(--clr-text);
  margin-bottom: 18px;
  background-color: var(--clr-bg);
  transition: all 0.4s ease;
  opacity: 0;
  animation-delay: 3s;
}
.box:hover{
  background-color: var(--clr-accent);
  transform: scale(1.1);
  box-shadow: 3px 3px 0 var(--clr-text);
}
.links a:last-child{
  margin-bottom: 4rem;
}

a.attribute{
  margin: 2rem 0;
  border: 1px solid var(--clr-text);
  box-shadow: 3px 3px 0 var(--clr-shadow);
  display: inline-block;
  padding: .4rem 1rem;
  text-decoration: underline;
  font-style: italic;
  cursor: pointer;
  transition: all 0.3s ease;
}
a.attribute:active{
  transform: scale(0.7);
  box-shadow: 1px 1px 0 var(--clr-shadow);
}
.highlight{
  color: var(--clr-accent-900);
  font-weight: 700;
}


/*====== Animation Utility  Classes======*/

.fade-in {
  animation: fadeIn 2s ease forwards;
  opacity: 0;
  animation-delay: 0.3s;
}
.typing{
  animation: typing 3s steps(42,end) forwards,
             blinker .8s step-end 4;
  animation-delay: 2s;
}

/* =========== Keyaframes ======= */

@keyframes fadeIn{
  from{
    opacity: 0;
    transform: translateY(15px);
  }
  to{
    opacity: 1;
    transform: translateY(0);
  }
}

/* Typing Animation */
@keyframes typing{
  0%{width: 0%;}
  100%{width: 100%; border-right-color: transparent;}
}
/* Cursor Blinking */
@keyframes blinker{
  20%{border-color: transparent;} 
  40%{border-color: transparent;}
  60%{border-color: transparent;}
  80%{border-color: transparent;}
}






