*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 15px; /* for proper resizing*/
}
:root{
  /* Variables: Color - Light Theme */
  --clr-bg: hsla(0, 0%, 100%, 1);
  --clr-text: hsla(0, 0%, 0%, 1);
  --clr-accent: hsla(36, 100%, 83%, 1);
  --clr-shadow: hsla(0, 0%, 0%, 0.1);
}
body {
  /* Grain Backdrop */
  background-image: url('../images/background-grain.jpg');
  background-size: cover;
  background-repeat: repeat;
  font-family: 'Poppins', sans-serif;
  color: var(--clr-text);
  min-height: 100vh;
}
body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: url('../images/background-grain.jpg') repeat;
  background-size: 300px;
  opacity: 0.4;
  z-index: -1;
}
body.dark{
  /* Variables: Color - Light Theme */
  --clr-bg: hsla(0, 0%, 10%, 1);
  --clr-text: hsla(0, 0%, 98%, 1);
  --clr-accent: hsla(36, 100%, 70%, 1);
  --clr-shadow: hsla(0, 0%, 100%, 0.1);
}
.flex{
  display: flex;
  align-items: center;
  justify-content: center;
}
.box{
  width: 100%;
  height: 30px;
  border: 1px solid black;
  box-shadow: 1px 1px 0 black;
}
/*
.pfp-border{
  border: 1px solid black;
  width: 7rem;
  height: 7rem;
  padding: .5rem;
  border-radius: 50%;
}
*/
img{
  width: 7rem;
}
h1{
  font-weight: 500;
}
.card{
  text-align: center;
}





















